<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <title>compose blog</title>
</head>
<body>
    <form action="/articles/new" method="post">
        <h1 class="title">Compose Blog :</h1>
        <div class="compose">
            <input type="text" name="title"  placeholder="Type a title"/>
            <textarea name="textCompose" placeholder="compose text"></textarea>
            <div class="buttons">
                <a href="/" class="button">Cancel</a>
                <button type="reset" class="button">reset</button>
                <button type="submit" class="button">Save</button>
            </div>
        </div>        
    </form>
</body>
</html>