<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <title>conact</title>
</head>
<body>
    <form action="/contact" method="post">
        <h1 class="title">Contact-me :</h1>
        <div class="contact">
            <input type="email" name="email"  placeholder="Type your email"/>
            <input type="text" name="text"  placeholder="Type your name"/>
            <input type="date" name="birth"  />
            <textarea placeholder="Your comment" name = "comment"></textarea>
            <div class="buttons">
                <a href="/" class="button">Cancel</a>
                <button class="button" type="reset">Reset</button>
                <button class="button" type="submit">Send</button>
            </div>
        </div>
    </form>
</body>
</html>